.container{
    margin: 10rem 0rem 0rem 3rem;
    font-size: var(--font-size-h3);
}
.categories .list{
    display: flex;
    flex-direction: row;
    column-gap: 6.4rem;
    font-size: var(--font-size-h6);
    padding-top: 2rem;
}
.active{
    font-weight: 600;
}
.link {
    text-decoration: none;
    color: black;
    display: block;
    padding-bottom: 0.8rem;
    font-size: var(--font-size-h6);
    position: relative;
  }
.list .active ::after {
    display: block;
    content: "";
    width: 50%;
    height: 1.5px;
    border-radius: 1px;
    background: #000000;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 5px;
}