.container{
    background-color: var(--Input-Field-Background);
    width: 9.6rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.item{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.link{
    background-color: var(--Background);
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.link:hover{
    border-radius:2rem;
    background-color: var(--Primary);
}
.logo {
    padding-top: 2rem;
}
.active{
    background-color: var(--Primary);
    border-radius: 2rem;
}