*{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html{
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:focus {
  outline: 0;
}
a {
  text-decoration: none;
}
li{
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
}
/* 40 36 24 20 18 16 14 12  */
:root {
  --font-size-h1: 4rem;
  --font-size-h2: 3.6rem;
  --font-size-h3: 2.4rem;
  --font-size-h4: 2rem;
  --font-size-h5: 1.8rem;
  --font-size-h6: 1.6rem;
  --font-size-h7: 1.4rem;
  --font-size-p: 1.2rem;

  --Primary: #FA9E31;
  --Text-White:rgb(255, 255, 255);
  --Text-Black:#343434;
  --Text-Faded:#666666;
  --Icon-Faded:#8A8A8A;
  --Input-Field-Background:#EDEDED;
  --Secondary:#FFF6DE;
  --Background:#FAFAFA;
  --Red:#FF5151;
}

button,
select,
textarea {
  font-size: 100%; 
  margin: 0;
  vertical-align: baseline; 
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
input{
  background-color: transparent;
  transition: 1s;
}
button, li:hover{
  opacity: 0.75;
}