*{
  margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
html{
  font-size: 10px;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
}
:focus {
  outline: 0;
}
a{
  text-decoration: none;
}


:root {
  --font-size-h1: 4.8rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2.8rem;
  --font-size-h4: 1.6rem;
}

button,
select,
textarea {
  font-size: 100%; 
  margin: 0;
  vertical-align: baseline; 
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
button:hover{
  opacity: 0.75;
}